.button {
    align-items: center;
    appearance: none;
    background-color: #5cbbfb;
    background-image: linear-gradient(1deg, #747bff, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button:active,
.button:focus {
    outline: none;
}

.button:hover {
    background-position: -20px -20px;
}

.button:focus:not(:active) {
    box-shadow: rgba(21, 145, 227, 0.25) 0 0 0 .2em;
}


#titleDisplay {
    font-size: 20px;
}

.current-tab {
    min-width: 20rem;
    padding: 5px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    background-color: rgb(236, 234, 234);
}